# 基于 LLVM 风格，因为 NVIDIA 的风格类似于 LLVM 风格
BasedOnStyle: LLVM

# 缩进配置：NVIDIA 采用 2 个空格进行缩进
IndentWidth: 2

# 使用空格而不是 tab
UseTab: Never

# 每行最大字符数
ColumnLimit: 80

# 允许函数的参数超过一行
AllowAllParametersOfDeclarationOnNextLine: true

# 保持括号的风格为 K&R（即函数声明中的括号紧跟参数名）
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  BeforeElse: true

# 调整换行的位置
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyReturnTypeOnItsOwnLine: 60
